.nav-contacts {
  align-items: center;
  background-color: ;
  display: flex;
  border-bottom: white;
}

.nav-contacts h1 {
  margin-left: 3rem;
  color: white;
  font-size: 2rem;
  font-weight: 400;
}

.nav-contacts input {
  border: transparent;
  border-radius: .5rem;
  background-color: #262626;
  height: 3rem;
  margin-left: 5rem;
  outline: none;
  width: 20rem;
  color: white;
  position: relative;
}

.icon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: ;
}