.contact-view-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.contact-view-button button {
  align-items: center;
  background-color: #ffffff;
  border: none;
  border-radius: 0.7rem;
  color: #007aff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  height: 3.5rem;
  justify-content: center;
  width: 7.8rem;
}
